<!doctype html>
<html>
    <head>
        <title>onlytiancai's blog</title>
        <meta charset="utf-8">
    </head>
    <body>
    <div>
        <h1><a href="">onlytiancai 的博客</a></h1>
        </div>

        <div>
            <p>发布于2018年09月04日</p>
            <h2><a href="">我的第一篇博客</a></h2>
            <p>
            今天学习 Python。
            今天学习 Python。
            今天学习 Python。
            今天学习 Python。
            今天学习 Python。</p>
        </div>

        <div>
            <p>发布于2018年09月05日</p>
            <h2><a href="">我的第二篇博客</a></h2>
            <p>
            今天学习 Django。
            今天学习 Django。
            今天学习 Django。
            今天学习 Django。
            </p>
        </div>
    </body>
</html>