h1 a {
    color: #FCA205;
}

body {
    font-family: 'Microsoft Yahei';    
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.post {
    margin-left: 40px;
    margin-bottom: 70px;
}
